/Blog/.vscode/
/Blog/Blog/bin/
/Blog/Blog/obj/
/Blog/Blog/obj/Debug/netcoreapp2.2
/Blog/Blog/obj/Debug/netcoreapp2.2/*.cache
/Blog/Blog.Common/bin/
/Blog/Blog.Common/obj/
/Blog/Blog.Core/bin/
/Blog/Blog.Core/obj/
/Blog/Blog.Entities/bin/
/Blog/Blog.Entities/obj/
/Blog/Blog.IRepository/bin/
/Blog/Blog.IRepository/obj/
/Blog/Blog.IServices/bin/
/Blog/Blog.IServices/obj/
/Blog/Blog.Repository/bin/
/Blog/Blog.Repository/obj/
/Blog/Blog.Services/bin/
/Blog/Blog.Services/obj/
/Blog/Blog.RabbitMQ/bin/
/Blog/Blog.RabbitMQ/obj/
/Blog/Blog.RabbitMQ/obj/Debug/netcoreapp2.2
/Blog/Blog.RabbitMQ/obj/Debug/netcoreapp2.2/*.cache
/Blog/Blog.Signalr/bin/
/Blog/Blog.Signalr/obj/
/Blog/Blog.Signalr/obj/Debug/netcoreapp2.2
/Blog/Blog.Signalr/obj/Debug/netcoreapp2.2/*.cache